<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MEDKIT - DISEASE EDITOR</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .editor-container {
            margin-top: 60px;

            margin-left: auto;
            margin-right: auto;

            width: fit-content;

            background: #D9D9D9;

            border-radius: 16px;

            padding: 24px;
        }

        .c-list {
            background: #cecece;

            border-radius: 16px;

            padding: 16px;
        }

        .c-element {
            background: #D9D9D9;

            margin-left: 5px;
            margin-right: 5px;

            border-radius: 16px;

            padding: 16px;
        }
    </style>
</head>
<body onload="initialize()">
<div style="display: none" id="jsonData" th:medicines-json="${diagnoseForm.medicinesJSON}" th:symptoms-json="${diagnoseForm.symptomsJSON}"
     th:doctor-json="${diagnoseForm.doctorJson}" th:patient-json="${diagnoseForm.patientJson}" th:disease-json="${diagnoseForm.diseaseJson}"
     th:all-medicines-json="${allMedicines}" th:all-symptoms-json="${allSymptoms}"></div>
<div class="editor-container d-flex flex-column">
    <h2 class="text-center">Редактор диагнозов</h2>
    <form class="d-flex flex-column" id="diseaseForm" th:object="${diagnoseForm}">
        <input id="d_id" type="number" hidden="hidden" th:field="${diagnoseForm.id}">

        <label>
            Заметка
            <input class="form-control" type="text" th:field="${diagnoseForm.note}" id="note">
        </label>

        <label>
            Описание
            <textarea class="form-control" type="text" th:field="${diagnoseForm.description}" id="desc"></textarea>
        </label>

        <div class="d-flex flex-row justify-content-center">
            <div style="width: fit-content" class="d-flex flex-row">
                <label>
                    ФИО Пациента
                    <input class="form-control" onchange="getPatients()" type="text" id="pat-name">
                </label>
                <label style="margin-left: 20px">Пациент
                    <select class="form-control" id="pat-select">

                    </select>
                </label>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between" style="margin-top: 10px">
            <div class="c-list">
                <h4 class="text-center">Симптомы</h4>
                <div class="d-flex flex-row justify-content-between">
                    <select class="form-control" id="sym-select">
                        <option th:each="symptom : ${symptoms}" th:utext="${symptom.name}" th:value="${symptom.id}"></option>
                    </select>
                    <input style="margin-left: 16px" class="btn btn-primary" type="button" onclick="insertSymptomElement()" value="Добавить">
                </div>
                <div id="sym-list" style="margin-top: 20px">

                </div>
            </div>
            <div class="c-list" style="margin-left: 20px">
                <h4 class="text-center">Лекарства</h4>
                <div class="d-flex flex-row justify-content-between">
                    <select class="form-control" id="med-select">
                        <option th:each="medicine : ${medicines}" th:utext="${medicine.name}" th:value="${medicine.id}"></option>
                    </select>
                    <input style="margin-left: 16px" class="btn btn-primary" type="button" onclick="insertMedicineElement()" value="Добавить">
                </div>
                <div id="med-list" style="margin-top: 20px">

                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-end" style="margin-top: 36px">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-end">
                    <label style="width: 250px">
                        Болезнь
                        <select class="form-control" id="disease-select">

                        </select>
                    </label>
                </div>
                <div class="d-flex flex-row btn-group" style="margin-top: 20px">
                    <input onclick="window.location.replace('/app/MainPage')" class="btn btn-danger" type="button" value="Назад">
                    <input onclick="confirm(-1)" class="btn btn-danger" type="button" value="Отменить диагноз">
                    <input onclick="confirm(0)" class="btn btn-primary" type="button" value="Подтвердить">
                    <input onclick="confirm(1)" class="btn btn-success" type="button" value="Закрыть диагноз">
                </div>
            </div>
        </div>
    </form>
</div>
<h3 id="error" class="text-danger"></h3>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script th:src="@{/js/DiagnoseEditor.js}"></script>
</body>
</html>