<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/Login.css}">
    <title>Login</title>
</head>
<body>
    IS ARE LOGIN PAGE!

    <table>
        <tr>
            <th>ID</th>
            <th>ROLE</th>
            <th>NAME</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.userRole}"></td>
            <td th:utext="${user.name}"></td>
        </tr>
    </table>

    <h1 th:utext="${error}"></h1>
</body>
</html>