<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/Common.css">
    <title>Registration</title>
</head>
<body>
    <div>
        <form>
            <label>
                Имя
                <input type="text">
            </label><br>
            <label>
                Фамилия
                <input type="text">
            </label><br>
            <label>
                Отечество
                <input type="text">
            </label><br>
            <div>
                Роль
                <br>
                <label>
                    Администратор
                    <input type="radio">
                </label>
                <label>
                    Доктор
                    <input type="radio">
                </label>
                <label>
                    Пациет
                    <input type="radio">
                </label>
            </div><br>
            <label>
                Телефонный номер
                <input type="text">
            </label>
            <label>
                Почта
                <input type="email">
            </label>
            <label>
                Дата рождения
                <input type="date">
            </label>
        </form>
    </div>

</body>
</html>